main {
	max-width: 960px;
	border: 1px solid #ddd;
	height: 600px;
	margin: 0 auto;
}
.header	h1 {
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #ddd;
}
.wrapper {
	padding: 15px;
}
.spoiler {
    margin:  0;
    width: 300px;
    margin: 0 auto;
    padding:  30px;
    background-color:  pink;
    text-align:  center;
    font-size:  20px;
    line-height: 30px;
}
.spoiler button {
    width:  100%;
    background-color: transparent;
    border:  none;
    cursor:  pointer;
    height:  100%;
    outline: none;
}